.box1 {
  width: 50px;
  height: 50px;
  /* width: 75px;
  height: 50px; */
  /* width: 50px;
  height: 100px; */
  background-color: royalblue;
  /* clip-path: circle(25px at 25px 25px); */
  /* clip-path: circle(25px at 50% 50%); */
  /* clip-path: circle(50% at 50% 50%); */
  /* clip-path: ellipse(25px 50px at 50% 50%); */

  /* clip-path: polygon(0px 0px, 50px 0, 75px 25px, 50px 50px, 50px 0px); */
  /* clip-path: polygon(0px 0px, 50px 0, 75px 25px, 50px 50px, 0px 50px); */
  /* clip-path: polygon(25px 0, 50px 50px, 0 50px); */

  /* clip-path: rect(0px 50px 50px 0px round 20%); */
  /* clip-path: path("M 0 0 L 50,0 A 5,5 0,0,1 40,5 L 50 50 z"); */
  /* clip-path: path("M 0,0 L 50,0 L 50,50 L 25,25 L 0,50 Z"); */
}

.promo h2 {
  color: blue;
}
